@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  height: 100vh;
  padding: 10vh;
  color: #1397f0;
  font-family: "Cabin", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

p {
  color: #d907d9;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  gap: 5px;
  background-color: #42a7ea;
  position: relative;
}

.line {
  display: none;
  width: 300px;
  height: 5px;
  background-color: #727272;
  position: absolute;
  top: 50%;

}

.players {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.player {
  padding: 5px;
}

.current {
  border: 2px solid #d907d9;
  border-radius: 3px;
}

.box {
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #ffebcd;
}

.box:hover {
  background-color: rgb(246, 192, 112);
}

.result {
  height: 30px;
}

button {
  border: none;
  color: rgb(245, 237, 225);
  background-color: #42a7ea;
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 20px;
}
