* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  height: 100vh;
  padding: 10px;
  color: #1397f0;
}

h1 {
  text-align: center;
}

p {
  color: #D907D9;
}

.gameboard {
  padding-top: 20vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
}

.box {
  border: 1px solid #1397f0;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.box:hover {
  background-color: rgb(246, 192, 112);
}
