@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  height: 100vh;
  padding: 10vh;
  color: #1397f0;
  font-family: "Cabin", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

p {
  color: #d907d9;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  gap: 5px;
  background-color: #42a7ea;
  position: relative;
}

.line {
  display: none;
  background-color: #727272;
  position: absolute;
}

.visible {
  display: block;
}

.horizontal {
  width: 300px;
  height: 5px;
}

.top {
  top: 15%;
}

.center {
  top: 50%;
}

.bottom {
  top: 83%;
}

.vertical {
  width: 5px;
  height: 300px;
}

.left {
  left: 15%;
}

.middle {
  left: 50%;
}

.right {
  left: 83%;
}

.skew {
  width: 5px;
  height: 350px;
  top: -5%;
}

.from-left {
  left: 52%;
  transform: rotate(-45deg);
}

.from-right {
  left: 47%;
  transform: rotate(45deg);
}

.players {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding-right: 5px;
}

.playerInput {
  width: 100px;
  padding: 5px;
}

.current {
  border: 2px solid #d907d9;
  border-radius: 3px;
}

.box {
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #ffebcd;
}

.box:hover {
  background-color: rgb(246, 192, 112);
}

.result {
  height: 30px;
}

button {
  border: none;
  color: rgb(245, 237, 225);
  background-color: #42a7ea;
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 20px;
}

@media (max-width: 430px) {
  body {
    padding: 10px;
  }
  .players {
    display: flex;
    flex-direction: column;
  }
}
